html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --main-color: #000000;
    --second-color: #ffffff;
}

/* =================== SKIP LINK  ET SR-ONLY===============================================*/
.skip-link {
    background-color: #fff;
    border: solid 3px #000;
    color: #000;
    padding: 0.4em 0.5em;
    text-decoration: none;
}

.skip-link:not(:focus):not(:active) {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.skip-link:focus {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 999;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
/* ======================KEY FRAME ANIMATIONS ==================================================== */
 @keyframes flecheanim {
    0%{
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
/* ==================================== BARRE DE NAVIGATION ==================================== */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--second-color);
    padding: 10px;
    border-radius: 16px;
    /* Permet d'avoir une margin sur la longeur */
    width: calc(100% - 60px);
    margin: 30px;
    position: fixed;
    z-index: 999;
}

nav ul {
    display: flex;
    gap: 40px;
    font-size: 1rem;
    list-style: none;
    margin: 0;
}

nav a {
    padding: 20px;
    display: block;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.5s ease;
    border-radius: 16px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    background-color: var(--main-color);
    color: var(--second-color);
}

.active {
    background-color: var(--main-color);
    color: var(--second-color);
}

.numberprojet {
    position: absolute;
    top: 10px;
    font-size: 0.9rem;
    background-color: var(--main-color);
    border-radius: 50px;
    color: var(--second-color);
    padding: 3px;
}

/* BURGER MENU  */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background-color: var(--main-color);
    transition: all 0.5s ease;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* ===== SWITCH JOUR / NUIT ===================================================== */
.toggle-wrapper {
    position: relative;
    width: 120px;
    height: 60px;
    background-color: var(--main-color);
    border-radius: 50px;
    margin: auto;
    cursor: pointer;
}

.selector {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: var(--second-color);
    transition: left 0.25s ease;
    border-radius: 50px;
}

input.switch {
    display: none;
}

.fa-sun {
    display: none;
    position: absolute;
    top: 30%;
    left: 12px;
    color: var(--main-color)
}

.fa-moon {
    position: absolute;
    top: 30%;
    left: 13px;
    color: var(--main-color);
}
.swipe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.6s ease;
}

.swipe.current {
    transform: translateX(0);
}
/* ==================================== HEADER ======================================================== */
.header-div {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--second-color);
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .header-div p {
    font-size: 2rem;
  }

  .header-buttons {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  .buttons-apropos {
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: var(--second-color);
    background-color: var(--main-color);
    border: 3px solid var(--second-color);
    border-radius: 16px;
    transition: all 0.5s ease;
  }

  .buttons-contact {
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    background-color: var(--second-color);
    border-radius: 16px;
    transition: all 0.5s ease;
  }
  .buttons-contact:hover {
      color: var(--second-color);
      background-color: var(--main-color);
      border: 3px solid var(--second-color);
      transform: scale(1.05);
  }
  .buttons-apropos:hover {
      color: var(--main-color);
      background-color: var(--second-color);
      transform: scale(1.1);
  }

  .fa-angles-down {
    font-size: 4rem;
    position: absolute;
    bottom: 20px;
    animation: flecheanim 0.5s infinite alternate;
  }

  .fa-arrow-right {
    transition: transform 0.3s ease;
    position: relative;
}
/* ==================================== SECTION A PROPOS DE MOI ======================================================= */
.aboutme {
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.infoapropos {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    gap: 20px;
}

.text-container {
    flex: 1;
    margin-right: 20px;
    background-color: var(--main-color);
    border-radius: 16px;
    padding: 20px;
    color: var(--second-color);
    border: 3px solid var(--second-color);
}

h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}



.text-container p {
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: var(--second-color);
}


.infoapropos-bouttons {
    padding: 10px 15px;
    background-color: var(--second-color);
    color:var(--main-color);
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.5s ease;
    text-transform: uppercase;
}

.infoapropos-bouttons:hover {
    background-color: var(--main-color);
    color: var(--second-color);
    border: 3px solid var(--second-color);
}

.contact-info {
    margin-top: 10px;
}

.image-container {
    flex: 0.4;
    display: flex;
    justify-content: center;
    border-radius: 16px;
}

.image-container img {
    width: 100%;
    border-radius: 16px;
    border: 3px solid var(--second-color);
}

.contact-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-links {
    display: flex;
    gap: 10px;
    font-size: 2rem;
}

.contact-links a {
    color: var(--second-color);
    transition: all 0.5s ease;
    border-radius: 16px;
}

.contact-links a:hover {
    transform: scale(1.2);
}

/* =================================== SECTION COMPETENCES ====================================================== */
.skills {
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-container {
    display: flex;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    
}

.icon-container {
    border-bottom: 5px solid var(--second-color);
    border-radius: 16px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

h4 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin: 30px;
    width: 20%;
    text-transform: uppercase;
    color: var(--second-color);
}

.iconeskills {
    font-size: 4rem;
    transition: all 0.5s ease ;
}
.iconeskills:hover {
    transform: scale(1.1);
}

.icon p {
    color: var(--second-color);
    text-transform: uppercase;
}

.icon {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* =============================== RESPONSIVE TABLETTE ====================================================================*/
@media (min-width: 978px) and (max-width: 1144px) {
    nav ul {
        gap: 20px;
    }

    nav a {
        font-size: 1rem;
    }
    /* ===== Section Compétences ====== */
    .icon {
        width: 80px;
    }

    .iconeskills {
        font-size: 3.5rem;
    }
    .icon-container {
        overflow: auto;
    }
}

/* =============================== RESPONSIVE TELEPHONE =========================================================*/
/* @media (max-width: 768px) {
    .infoapropos {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .image-container {
        flex: none;
        width: 100%;
    }

    .image-container img {
        max-width: 80%;
    }
} */
@media (max-width: 990px) {

    /* barre de navigation */
    nav ul {
        display: none;
        flex-direction: column;
        width: 50%;
        text-align: center;
        margin-top: 20px;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: var(--second-color);
        padding: 10px;
        border-radius: 0 0 16px 16px;
    }

    nav ul.open {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        font-size: 1rem;
    }

    .numberprojet {
        top: 110px;
    }

    /* ============= header ============= */
    h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    h2 {
        font-size: 1.5rem;
    }

    .header-buttons {
        flex-direction: column;
        align-items: center;
    }

    .header-div a {
        width: 100%;
        max-width: 210px;
        font-size: 1rem;
    }
    /* =============== Section à propos ============= */
    /* .aboutme {
        height: 100%;
    }
    .infoapropos {
        flex-direction: column;
        align-items: center;
    }
    .text-container {
        margin-right: 0;
        text-align: center;
    }
    .text-container p {
        text-align: start;
    }
    h3 {
        font-size: 1.3rem;
        text-align: start;
    }
    .contact-line {
        display: grid;
    }
    .contact-links {
        display: block;
        font-size: 3rem;
    }
    .image-container {
        width: 100%;
    } */
     .text-container {
        flex: 0.1;
        height: 90%;
     }
     .image-container {
        flex: 0.9;
        height: 90%;
     }

     /* ====== SECTION COMPETENCE =============== */
     .skills-container {
        flex-direction: column;
        margin: 50px;
    }

    .icon-container {
        overflow: scroll;
    }

    h4 {
        width: 100%;
        margin: 10px;
        justify-content: center;
    }

    .icon {
        margin: 10px;
    }
}
